
table.contactupdatequeue-value-table {
  margin: 10px;
}

.contactupdatequeue-control {
  border-radius:8px;
  /*background-color: #A4A4A4;*/
  background-color: rgb(200, 200, 237);
  vertical-align: middle;
}

.contactupdatequeue-control input {
  border-radius:8px;
}

.contactupdatequeue-warning {
  border-radius:8px;
  background-color: red !important;
}

div.contactupdatequeue-suboption {
  border: 2px solid #a1a1a1;
  border-radius:15px;
  padding: 20px 10px;
  margin: 20px 10px;
  align-items: center;
  vertical-align: center;
}

.contactupdatequeue-suboption-item {
  margin: 10px;
}

.contactupdatequeue-note {
  clear: left;
  padding: 10px;
  font-size: 15px;
}

.contactupdatequeue-suboption-hint {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: -10px;
}

div.contactupdatequeue-suboption h1 {
  text-align: left;
  margin-top: -25px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 13px;
}

div.contactupdatequeue-suboption h1 span {
    background-color: white;
}

div.contactupdatequeue-config {
  border: 2px solid #a1a1a1;
  padding: 0px 10px;
  margin-top: 20px;
  border-radius:15px;
}
